body {
  font-size: 1.15rem;
  background: #edeff0;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
}

h1 {
  font-size: 2.1em;
  margin-top: 5px;
  margin-bottom: 0;
  color: #384047;
  line-height: 1;
  text-align: center;
}

h6 {
  text-align: center;
  margin-top: 6px;
}

.top-menu {
  background-color: skyblue;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.top-menu a {
  display: inline-block;
  padding: 5px;
}

.top-menu a:hover {
  background-color: yellow;
}

.container p {
  text-align: center;
}

.todo-input-container {
  text-align: center;
}

.container {
  width: 450px;
  box-sizing: border-box;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  margin: 40px auto 0;
}

.todos {
  padding: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

li {
  list-style-type: disc;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.todo-actions {
  margin-left: auto;
}

input {
  margin-right: 7px;
  caret-color: blue;
}

.addItemInput {
  width: 14em;
  padding: 1px 1px;
  margin-right: 7px;
  height: 1.5em;
  font-size: 90%;
}

.editItemInput {
  width: 14em;
  height: 1.6em;
}

/* Buttons */
button {
  color: white;
  background: #508abc;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75em;
  padding: 0.5em 0.65em;
}

.btnDelete {
  background-color: lightcoral !important;
}

button+button {
  margin-left: 0.5em;
}

.container button+button {
  background: #768da3;
}

.container li button+button {
  background: #508abc;
}

.upButton {
  margin-left: auto;
  background: #52bab3;
}

.container li button:last-child {
  background: #768da3;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

/***  */
.todos {
  user-select: none;
}

.todo-actions {
  display: inline-block;
  padding-left: 40px;
}

.todo-item {
  padding: 5px;
  margin-top: 5px;
}

.todo-item-completed {
  text-decoration: line-through;
  background-color: darkgreen;
  color: white;
}